.budget-submit-section {
  border: 5px solid green;
}

.categories-section {
  border: 5px solid purple;
}

.budget-table {
  border: 5px solid red;
}

.item-table {
  border: 5px solid black;
  border-spacing: 100px;
  column-width: 500px;
}
