input::placeholder {
  color: black;
  font-style: italic;
}

body {
  background-color: green;
}

.budget-form {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 5px red solid; */
}

.item-description-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  /* border: 5px solid purple; */
  margin-bottom: 10px;
}

.item-description-form-element {
  display: flex;
  align-items: center;
  background-color: white;

  font-size: 20px;
  font-weight: bold;
}

#budget {
  font-size: 15px;
  font-weight: bold;
  height: 20px;
}

#add-button {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
}

.budget-label {
  display: flex;
  font-weight: bold;
  color: white;
  font-size: 30px;
  justify-content: center;
  padding: 5px;
}

.update-balance-button {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.budget-balance-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 5px black solid; */
}

h3 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#category {
  width: 100%;
}

.clear {
  background-color: black;
  color: white;
  width: 100vw;
  height: 50px;
  font-size: 30px;
}

.logo {
  width: 100%;
  height: 200px;
}

td {
  color: white;
  font-size: 25px;
  text-transform: capitalize;
}

footer {
  display: flex;
  align-items: center;
}
.item-header {
  font-size: 25px;
}

.items-table {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .budget-balance-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  td {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
  }
}
